body{
    display:block;
    text-align:center;
    background-color:#f3ca20;
}

#connexion-bd{
    background-color: rgb(0, 255, 0);
    text-align: center;
    font-size: 15px;
    width: 100%;
}

#consigne {
    font-size: 30px;
    font-family: 'Itim', cursive;
}

input{
    width: 30px;
    border-radius: 2px;
}

select{
    font-size: 20px;
    border-radius: 5px;
}

#submitBtn{
    width: 70px;
    padding: 8px;
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
}

#submitBtn:hover{
    background-color: rgb(50,50,50);
    color:white;
    cursor:pointer;
}

p{
    font-size: 20px;
    font-family: 'Itim', cursive;
}

button{
    width: auto;
    padding: 8px;
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
}

button:hover{
    background-color: rgb(50,50,50);
    color:white;
    cursor:pointer;
}
